.el-table {
  //margin: 10px 0 !important;
  th {
    background: #F5F5F5 !important;
  }
  th,td {
    padding: 3px 0 !important;
  }
  .el-table__column-filter-trigger {
    line-height: 25px !important;
  }
  .caret-wrapper,.el-tag {
    height: 25px !important;
    line-height: 25px !important;
  }
  .caret-wrapper {
    .sort-caret.ascending{top:0 !important;}
    .sort-caret.descending{bottom:0 !important;}
  }
}
.el-table--border{
  border:none;
  th,td {
    border-right: none!important;
    height: 36px;
    color: #333333;
    font-size: 13px;
    font-weight: 700;
    padding: 0;
    text-align: center!important;
  }
  td{
    border-right: 1px solid #EBEEF5 !important;
    border-bottom: none !important;
    color:#555555;
    font-weight:400;
  }
}

.table-card{
  margin-top:10px;
  .el-card /deep/ .el-card__body{
    padding:0;
  }
  .el-card__body{
    padding:0;
  }
}
.el-table, .el-table__expanded-cell {
  background:#555;
}
