//sidebar
$menuBg:#304156;
$subMenuBg:#fff;
//$menuHover:-webkit-linear-gradient(0deg,#e62614,#fff);
$menuHover:#005C8D;

// theme
$themeBg:-webkit-linear-gradient(258deg,#e62614,#fedbdd);
$themeBgA:-webkit-linear-gradient(258deg,#ee394e,#f87649);
$themeBg90:-webkit-linear-gradient(90deg, #ee394e, #f87649);
$themeBg45:-webkit-linear-gradient(45deg, #ee394e, #f87649);

//$themeHover:#e62614;
//$themeHoverA:#ee394e;
$themeHover:#005C8D;
$themeColor:#005C8D;
$themeHoverA:#005C8D;
$innerMenuColor:#01517C;
$activeMenuColor:#014366;

$menuHeight:50px;
$navHeight:30px;
$sidebarWidth: 256px;
$sidebarMinWidth: 70px;


$bg:-webkit-linear-gradient(258deg,#e62614,#fedbdd);
