.el-pagination {
  border: solid 1px #ccd0d8;
  padding: 3px 5px;
  position: absolute;
  bottom: 22px;
  width: 100%;
  background: #ebeef5;
  .el-pagination__total {
    float: right;
    line-height: 32px !important;
  }
}